@import '../theme/shared/variables';

.kill-day,
.kill-free-streak {
  position: relative;
  margin: $spacing-small 0;
  padding: $spacing-medium;

  .timeline-date {
    font-size: $font-size-small-medium;
    font-weight: $font-weight-light;
  }
}

.kill-day {
  display: flex;
  background-color: $blood-red;
  color: $white;
  margin: 2px 0;

  .kill-detail {
    margin-left: $spacing-medium;
  }

  .kill-icon-wrapper {
    display: flex;

    .kill-icon {
      background-color: orange;
      text-align: center;
      padding: 8px;
      border: 1px solid $gray-very-light;
      border-radius: 50%;
      font-size: $font-size-medium;
      height: 50px;
      width: 50px;
    }
  }

  li {
    list-style: none;
    margin: 0;
  }
}

.kill-free-streak {
  color: #84dcc6;
  font-size: $font-size-xsmall;

  margin-left: 50px;

  .message {
    display: flex;
    align-items: baseline;
    flex-flow: wrap;
  }

  .been {
    margin-right: $spacing-xsmall;
  }

  &.xsmall {
    margin-top: $spacing-xsmall;
    margin-bottom: $spacing-xsmall;
    .streak-length {
      font-size: $font-size-xsmall;
    }
  }
  &.small {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
    .streak-length {
      font-size: $font-size-small;
    }
  }
  &.medium {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    .streak-length {
      font-size: $font-size-medium;
    }
  }
  &.large {
    margin-top: $spacing-large;
    margin-bottom: $spacing-large;
    .streak-length {
      font-size: $font-size-large;
    }
  }
  &.xlarge {
    margin-top: $spacing-xlarge;
    margin-bottom: $spacing-xlarge;
    .streak-length {
      font-size: $font-size-xlarge;
    }
  }
  &.xxlarge {
    margin-top: $spacing-xxlarge;
    margin-bottom: $spacing-xxlarge;
    .streak-length {
      font-size: $font-size-xxlarge;
    }
  }
}

.badge {
  position: absolute;

  padding: $spacing-xsmall;
  border: $spacing-xsmall solid gold;
  border-radius: $spacing-xsmall;

  background-color: $gray-very-dark;
  color: orange;

  right: $spacing-medium;
  top: $spacing-medium;

  transform: rotate(15deg);
}
