@import '../theme/shared/variables';

.kill-day,
.kill-free-streak {
  position: relative;
  margin: $spacing-small 0;
  padding: $spacing-medium;

  .timeline-date {
    font-size: $font-size-small-medium;
    font-weight: $font-weight-light;
  }
}

.kill-day {
  display: flex;
  background-color: $blood-red;
  color: $white;
  margin: 2px 0;

  .kill-detail {
    margin-left: $spacing-medium;
  }

  .kill-icon-wrapper {
    display: flex;

    .kill-icon {
      background-color: orange;
      text-align: center;
      padding: 8px;
      border: 1px solid $gray-very-light;
      border-radius: 50%;
      font-size: $font-size-medium;
      height: 50px;
      width: 50px;
    }
  }

  li {
    list-style: none;
    margin: 0;
  }
}

.kill-free-streak {
  color: $gray-light;
  margin-left: 50px;

  .streak-length {
    margin: $spacing-xsmall;
    font-size: $font-size-large;
  }
}

.badge {
  position: absolute;

  padding: $spacing-xsmall;
  border: $spacing-xsmall solid gold;
  border-radius: $spacing-xsmall;

  background-color: darkred;
  color: orange;

  right: $spacing-medium;
  top: $spacing-medium;

  transform: rotate(15deg);
}
